#experience, #services, #separator .top, #separator .bottom, #showcase .edge
	{background-color: #ffe680;}
#header {background-color: #80e5ff;}
#experience a .bullets{color: black;}
#here4you {background-color: #d3bc5f; }


