#header { background-color: #A3998D;}
#experience, #services, #separator .top, #separator .bottom, #showcase .edge
	{background-color: #DBD6C3; }
#here4you {background-color: #E3DEC1; color: white; }
