#header { background-color: #b4b387;}
#experience, #services, #separator .top, #separator .bottom, #showcase .edge
	{background-color: #e8e5c2; }
#here4you {background-color: #025886; color: white; }
