#here4you a#adults {background-image: url(block-g-adults.png);}
#here4you a#students {background-image: url(block-g-students.png);}
#here4you a#children {background-image: url(block-g-children.png);}
#here4you a#adults:hover {background-image: url(block-g-adults-hilite.png);}
#here4you a#students:hover {background-image: url(block-g-students-hilite.png);}
#here4you a#children:hover {background-image: url(block-g-children-hilite.png);}

