nbproject
pkg
doc
*.log
*.pid
*~
db/*.db
db/schema.rb
db/*.sqlite3
tmp
tmp/**/*
cache/**/*
public/photo
public/person
public/series
public/message
public/group
public/event
public/page_attachments
cache/*.data
cache/*.yml
config/database.yml
doc/api
doc/app
log/*.log
.loadpath
.project

